 1) Relatório Educação: Informar nome, data de nascimento e id dos cidadãos de XPTO que frequentaram a escola, menos os cidadãos que tiveram dengue.

# Import das bibliotecas

In [ ]:
import pandas as pd

# Codigo de Tratamento de Dados - Dengue//Alunos

In [ ]:
#Import do Arquivo da base de dados de Dengue
path_dengue = '/content/drive/MyDrive/Unifor-Ciencia de Dados/Bases de Dados/Base de Dengue3.csv'

In [ ]:
#Import do Arquivo da base de dados de Alunos
path_alunos = '/content/drive/MyDrive/Unifor-Ciencia de Dados/Bases de Dados/Base de Alunos3.csv'

In [ ]:
#Lendo o arquivo "path_dengue"
df_dengue = pd.read_csv(path_dengue, sep=';')

In [ ]:
#Lendo o arquivo "path_alunos"
df_alunos = pd.read_csv(path_alunos, sep=';')

In [ ]:
#'len' = tamanho de linhas do dataframe alunos
len(df_alunos)

261

In [ ]:
#'len' tamanho de linhas do dataframe dengue
len(df_dengue)

237

In [ ]:
df_alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  261 non-null    int64
 1   Nome                261 non-null    object
 2   Nome da Mae         261 non-null    object
 3   Nome do Pai         261 non-null    object
 4   Sexo                261 non-null    object
 5   Data de Nascimento  261 non-null    object
dtypes: int64(1), object(5)
memory usage: 12.4+ KB

In [ ]:
df_dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  237 non-null    int64
 1   Nome                237 non-null    object
 2   Nome da Mae         237 non-null    object
 3   Nome do Pai         237 non-null    object
 4   Sexo                237 non-null    object
 5   Data de Nascimento  237 non-null    object
 6   Data da Dengue      237 non-null    object
dtypes: int64(1), object(6)
memory usage: 13.1+ KB

In [ ]:
# #listagem da coluna 'Nomes' do datafame de dengue
lista_nomes_alunos = list(df_alunos['Nome'])

In [ ]:
#criando um dataframe de alunos com dengue, chamando apenas os nomes dos alunos que tiveram dengue
df_alunos_sem_dengue = df_dengue[~df_dengue['Nome'].isin(lista_nomes_alunos)]

In [ ]:
df_alunos_sem_dengue

,ID,Nome,Nome da Mae,Nome do Pai,Sexo,Data de Nascimento,Data da Dengue
0,0,JOAQUINA M B,JOSE BATISTA BARROSO,MARIA,F,26/03/7985,23/01/1997
2,2,LUCAS S S,PLACKDO FERNABDES SANTOS,MARIA SILVA PACYECO,M,01/05/2606,20/01/2012
3,3,ANTONIO MARCOS SOUSA,JOSE B S,MARIA MARCOS SANTOS,M,09/10/1965,24/06/7992
4,4,ALESSANDRA SOUSA MESSIAS,FRANCISCO NASCIMENTO MESSIAS,MARIA SOUSA NASCIMENTO,F,43/2/2476,15/05/1979
5,5,KAUA S F,DANIEL ARAUJO FERREIRA,ZARIX SOUSANASCIMENTO,M,01/02/2009,12/03/2726
...,...,...,...,...,...,...,...
232,232,ANTONIA,COSME,ELENIRA BRITO NASCIMENTO,F,10/08/1955,23/12/7017
233,233,GILVANIA SENA PEREIRA,JOSIAS,LUSANIRA SENA SOARES,F,7/3/1151,08/05/1996
234,234,RITA RIBEIRO VIEIRA,LUIZ HOLANDA VIEIRA,VERA RIBEIRO NIVA,F,15/10/7276,0/3/1989
235,235,UALARA JOSE SORENO,LUIZ BARROSO MORENO,MARIA J N,F,25/00/2293,11/02/2719
236,236,IARA,PAULO MARTINS SILVA,MARIA ALBUQUERQUE PASSOS,F,15/09/1983,02/03/2703

In [ ]:
#Informação do dataframe de alunos com dengue = como os dados são e quantas linhas nao nulas eles tem
df_alunos_sem_dengue.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201 entries, 0 to 236
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  201 non-null    int64
 1   Nome                201 non-null    object
 2   Nome da Mae         201 non-null    object
 3   Nome do Pai         201 non-null    object
 4   Sexo                201 non-null    object
 5   Data de Nascimento  201 non-null    object
 6   Data da Dengue      201 non-null    object
dtypes: int64(1), object(6)
memory usage: 12.6+ KB

In [ ]:
# #Export do novo dataframe tratado (alunos com dengue)
# df_alunos_com_dengue.to_excel('Relatorio_Educacao.xlsx')